@model InstantTutors.Models.StatusMessageModel
@{
    ViewBag.Title = "Instant Tutors";
}
<br />
<br />
    <section class="welcome-sec wow fadeInUp animated" data-wow-duration="2s" style="padding-top:8px">
        <div class="container">
            <div class="row">
                @if (Model.isApproved)
                {
                    <div class="col-12 text-center alert alert-success" role="alert">
                        <h4 class="head_title">@Model.Message</h4>
                    </div>
                }
                else
                {
                    <div class="col-12 text-center alert alert-danger" role="alert">
                        <h4 class="head_title">@Model.Message</h4>
                    </div>
                }
            </div>
        </div>
    </section>