/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26-08-2020 18:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AboutControls]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutControls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstHeading] [nvarchar](max) NULL,
	[FirstHeadingText] [nvarchar](max) NULL,
	[FirstHeadingImage] [nvarchar](max) NULL,
	[SecondHeading] [nvarchar](max) NULL,
	[SecondHeadingText] [nvarchar](max) NULL,
	[SecondHeadingImage] [nvarchar](max) NULL,
	[ThirdHeading] [nvarchar](max) NULL,
	[ThirdHeadingText] [nvarchar](max) NULL,
	[ThirdHeadingImage] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.AboutControls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Bio] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[TimeZone] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Zip] [int] NOT NULL,
	[DOB] [datetime] NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[HasDisabled] [bit] NOT NULL,
	[HasSocialLogin] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Hobbies] [nvarchar](max) NULL,
	[StudentGrade] [nvarchar](max) NULL,
	[StudentSchool] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomepageControls]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomepageControls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstSliderHeading] [nvarchar](max) NULL,
	[FirstSliderHeadingText] [nvarchar](max) NULL,
	[FirstSliderHeadingImage] [nvarchar](max) NULL,
	[SecondSliderHeading] [nvarchar](max) NULL,
	[SecondSliderHeadingText] [nvarchar](max) NULL,
	[SecondSliderHeadingImage] [nvarchar](max) NULL,
	[ThirdSliderHeading] [nvarchar](max) NULL,
	[ThirdSliderHeadingText] [nvarchar](max) NULL,
	[FacebookLink] [nvarchar](max) NULL,
	[TwitterLink] [nvarchar](max) NULL,
	[InstagramLink] [nvarchar](max) NULL,
	[YoutubeLink] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.HomepageControls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageCenter]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageCenter](
	[MessageId] [varchar](50) NOT NULL,
	[MessageTo] [varchar](50) NULL,
	[MessageFrom] [varchar](50) NULL,
	[ToEmail] [varchar](50) NULL,
	[FromEmail] [varchar](50) NULL,
	[MessageContent] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[Createdby] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[CommunicationMethod] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Concerns] [nvarchar](max) NULL,
	[TutorUserId] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[ApproveDeclineBy] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[TutorName] [nvarchar](max) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionSchedule]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[Time] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[SelectedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.SessionSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuitionSubjects]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuitionSubjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[TutorId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.TuitionSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TutorAvailability]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorAvailability](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [int] NOT NULL,
	[Time] [int] NOT NULL,
	[TutorId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.TutorAvailability] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutors]    Script Date: 26-08-2020 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Experience] [nvarchar](max) NULL,
	[GradeLevel] [nvarchar](max) NULL,
	[NameOfSchool] [nvarchar](max) NULL,
	[Concerns] [nvarchar](max) NULL,
	[PreviousSubjects] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[Sessions_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Tutors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [CreatedDate], [UpdatedDate], [Discriminator]) VALUES (N'1aed5814-eecc-4970-b484-21127671d2cc', N'Tutor', N'Tutor', CAST(N'2020-06-18T05:00:56.123' AS DateTime), NULL, N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [CreatedDate], [UpdatedDate], [Discriminator]) VALUES (N'679cbd65-ba9f-4556-a951-97787f402aab', N'Student', N'Parent/Student', CAST(N'2020-06-18T05:00:56.140' AS DateTime), NULL, N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description], [CreatedDate], [UpdatedDate], [Discriminator]) VALUES (N'eff55536-8d31-4f4c-816f-7478b8fffb99', N'Admin', N'Administrator', CAST(N'2020-06-18T05:00:54.953' AS DateTime), NULL, N'ApplicationRole')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'00c5c984-4ca5-4cba-ae73-01477fe069a6', N'1aed5814-eecc-4970-b484-21127671d2cc')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'048a1cca-e576-4851-aef4-16e0d263ae3d', N'1aed5814-eecc-4970-b484-21127671d2cc')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'08771798-6631-446c-8138-46a9d661ec37', N'1aed5814-eecc-4970-b484-21127671d2cc')
GO
INSERT [dbo].[MessageCenter] ([MessageId], [MessageTo], [MessageFrom], [ToEmail], [FromEmail], [MessageContent], [CreatedDate], [Createdby]) VALUES (N'e8aa4550-8cef-4c2b-a858-6ce06a94b81d', N'subho s', N'Vij Pathania', N'subho.samanta84@gmail.com', N'tutorfl9@gmail.com', N'test message', CAST(N'2020-08-25T23:33:09.903' AS DateTime), N'tutorfl9@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([Id], [UserId], [Title], [CommunicationMethod], [CreatedDate], [UpdatedDate], [Description], [Concerns], [TutorUserId], [Status], [ApproveDeclineBy], [CreatedBy], [TutorName], [StartDate], [EndDate]) VALUES (1, N'06140cf7-0338-4d42-8d9d-2fdc5b4b8809', N'Math', N'Email', CAST(N'2020-06-20T04:36:34.383' AS DateTime), CAST(N'2020-08-02T06:15:28.573' AS DateTime), N'I need help in math homework', NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sessions] ([Id], [UserId], [Title], [CommunicationMethod], [CreatedDate], [UpdatedDate], [Description], [Concerns], [TutorUserId], [Status], [ApproveDeclineBy], [CreatedBy], [TutorName], [StartDate], [EndDate]) VALUES (2, N'06140cf7-0338-4d42-8d9d-2fdc5b4b8809', N'Homework', N'Email', CAST(N'2020-06-20T21:35:00.030' AS DateTime), CAST(N'2020-08-02T06:15:18.697' AS DateTime), N'Mathematics - Integretion', N'I need full details', NULL, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sessions] ([Id], [UserId], [Title], [CommunicationMethod], [CreatedDate], [UpdatedDate], [Description], [Concerns], [TutorUserId], [Status], [ApproveDeclineBy], [CreatedBy], [TutorName], [StartDate], [EndDate]) VALUES (3, N'06140cf7-0338-4d42-8d9d-2fdc5b4b8809', N'Monday HW', N'Text', CAST(N'2020-06-20T21:40:03.390' AS DateTime), CAST(N'2020-08-02T06:15:04.150' AS DateTime), N'Integral calculus', N'Need help in integral calculus', NULL, 0, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[SessionSchedule] ON 

INSERT [dbo].[SessionSchedule] ([Id], [SessionId], [Day], [Time], [CreatedDate], [UpdatedDate], [SelectedDate]) VALUES (36, 4, 1, 10, CAST(N'2020-07-15T11:27:41.000' AS DateTime), NULL, NULL)
INSERT [dbo].[SessionSchedule] ([Id], [SessionId], [Day], [Time], [CreatedDate], [UpdatedDate], [SelectedDate]) VALUES (37, 4, 2, 11, CAST(N'2020-07-15T11:27:41.047' AS DateTime), NULL, NULL)
INSERT [dbo].[SessionSchedule] ([Id], [SessionId], [Day], [Time], [CreatedDate], [UpdatedDate], [SelectedDate]) VALUES (38, 4, 2, 7, CAST(N'2020-07-15T11:27:41.047' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SessionSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[TuitionSubjects] ON 

INSERT [dbo].[TuitionSubjects] ([Id], [Name], [Description], [TutorId], [CreatedDate], [UpdatedDate]) VALUES (12, N'6th-8th', N'6th-8th', 2, CAST(N'2020-06-19T11:10:23.603' AS DateTime), NULL)
INSERT [dbo].[TuitionSubjects] ([Id], [Name], [Description], [TutorId], [CreatedDate], [UpdatedDate]) VALUES (13, N'FSA/EOC', N'FSA/EOC', 2, CAST(N'2020-06-19T11:10:23.650' AS DateTime), NULL)
INSERT [dbo].[TuitionSubjects] ([Id], [Name], [Description], [TutorId], [CreatedDate], [UpdatedDate]) VALUES (14, N'6th-8th', N'6th-8th', 10, CAST(N'2020-07-23T09:47:50.200' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TuitionSubjects] OFF
GO
SET IDENTITY_INSERT [dbo].[TutorAvailability] ON 

INSERT [dbo].[TutorAvailability] ([Id], [Day], [Time], [TutorId], [CreatedDate], [UpdatedDate]) VALUES (130, 1, 10, 2, CAST(N'2020-06-19T11:10:23.713' AS DateTime), NULL)
INSERT [dbo].[TutorAvailability] ([Id], [Day], [Time], [TutorId], [CreatedDate], [UpdatedDate]) VALUES (131, 1, 11, 2, CAST(N'2020-06-19T11:10:23.713' AS DateTime), NULL)
INSERT [dbo].[TutorAvailability] ([Id], [Day], [Time], [TutorId], [CreatedDate], [UpdatedDate]) VALUES (132, 1, 12, 2, CAST(N'2020-06-19T11:10:23.713' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TutorAvailability] OFF
GO
SET IDENTITY_INSERT [dbo].[Tutors] ON 

INSERT [dbo].[Tutors] ([Id], [UserId], [Experience], [GradeLevel], [NameOfSchool], [Concerns], [PreviousSubjects], [CreatedDate], [UpdatedDate], [Sessions_Id]) VALUES (1, N'77d091d5-1ab0-49a3-9f7b-d599212088c8', NULL, NULL, NULL, NULL, N'Math', CAST(N'2020-06-18T05:02:22.467' AS DateTime), NULL, NULL)
INSERT [dbo].[Tutors] ([Id], [UserId], [Experience], [GradeLevel], [NameOfSchool], [Concerns], [PreviousSubjects], [CreatedDate], [UpdatedDate], [Sessions_Id]) VALUES (2, N'effdc995-3c8b-4040-b1e2-0811d97324d4', N'MBA', N'10th Grade', N'Florida University', N'Test', N'Math', CAST(N'2020-06-18T06:43:17.660' AS DateTime), CAST(N'2020-06-19T11:10:23.337' AS DateTime), NULL)
INSERT [dbo].[Tutors] ([Id], [UserId], [Experience], [GradeLevel], [NameOfSchool], [Concerns], [PreviousSubjects], [CreatedDate], [UpdatedDate], [Sessions_Id]) VALUES (3, N'aab61649-74ec-4a83-8e4c-e67e381a0136', N'12 grade student', NULL, NULL, NULL, N'Math', CAST(N'2020-06-19T19:54:17.207' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tutors] OFF
GO
ALTER TABLE [dbo].[MessageCenter] ADD  CONSTRAINT [DF_MessageCenter_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sessions_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_dbo.Sessions_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[SessionSchedule]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SessionSchedule_dbo.Sessions_SessionId] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Sessions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SessionSchedule] CHECK CONSTRAINT [FK_dbo.SessionSchedule_dbo.Sessions_SessionId]
GO
ALTER TABLE [dbo].[TuitionSubjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TuitionSubjects_dbo.Tutors_TutorId] FOREIGN KEY([TutorId])
REFERENCES [dbo].[Tutors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TuitionSubjects] CHECK CONSTRAINT [FK_dbo.TuitionSubjects_dbo.Tutors_TutorId]
GO
ALTER TABLE [dbo].[TutorAvailability]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TutorAvailability_dbo.Tutors_TutorId] FOREIGN KEY([TutorId])
REFERENCES [dbo].[Tutors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TutorAvailability] CHECK CONSTRAINT [FK_dbo.TutorAvailability_dbo.Tutors_TutorId]
GO
ALTER TABLE [dbo].[Tutors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tutors_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tutors] CHECK CONSTRAINT [FK_dbo.Tutors_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Tutors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tutors_dbo.Sessions_Sessions_Id] FOREIGN KEY([Sessions_Id])
REFERENCES [dbo].[Sessions] ([Id])
GO
ALTER TABLE [dbo].[Tutors] CHECK CONSTRAINT [FK_dbo.Tutors_dbo.Sessions_Sessions_Id]
GO
