@{
    ViewBag.Title = "About";
}

<section class="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-12 about">
                <h2>About Instant Tutors</h2>
                <hr />
                <div class="container row">
                    <p>
                        Instant Tutors is a student led online organization, founded during the COVID-19 crisis, dedicated to helping students find their educational potential for free. Aimed to assist students in grades K-8, we guarantee that your student will be paired with the most qualified tutor, according to what they are in need of. We made sure to choose some of the most skilled high schoolers to guide you through your educational journey. Whether you want to refresh your memory on a complex topic, or simply need help with homework, Instant tutors is here for you- wherever+whenever.
                    </p>
                </div>
                <br />
                <h2>About Tutors</h2>
                <hr />
                <div class="container row">
                    <p>
                    </p>
                </div>
                <br />
                <h2>About Founder</h2>
                <hr />
                <div class="container row">
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .about-sec {
        /*margin-top: 55px;*/
        margin-bottom: 55px;
    }

    .about {
        background: #fff;
        padding: 20px 22px;
        /*box-shadow: 0px 3px 18px rgba(35, 38, 40, 0.3);*/
        padding: 60px 90px 40px;
    }
@@media only screen and (max-width: 767px)
{
.about {
    padding: 20px 15px;
}
}
</style>