<footer>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4>About Instant Tutors</h4>
                <p class="mb-0">
                    Instant Tutors is a student led online organization, founded during the COVID-19 crisis, dedicated to helping students find their educational potential for free.
                </p>
            </div>
            <div class="col-3">
                <h4>Social Network</h4>
                <ul class="foot-social-icons list-unstyled mb-0">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h4>Availability Hours</h4>
                <ul class="list-unstyled mb-0 hour_ul">
                    <li>
                        <span>Monday : </span>
                        <span class="text-white">10:00AM – 07:00PM</span>
                    </li>
                    <li>
                        <span>Tuesday : </span>
                        <span class="text-white">10:00AM – 07:00PM</span>
                    </li>
                    <li>
                        <span>Wednesday : </span>
                        <span class="text-white">10:00AM – 07:00PM</span>
                    </li>
                    <li>
                        <span>Thursday : </span>
                        <span class="text-white">10:00AM – 07:00PM</span>
                    </li>
                    <li>
                        <span>Friday  : </span>
                        <span class="text-white">10:00AM – 07:00PM</span>
                    </li>
                    <li>
                        <span>Saturday : </span>
                        <span class="text-white">10:00AM – 07:00PM</span>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h4>Learn More</h4>
                <ul class="list-unstyled mb-0 hour_ul">
                    <li>
                        <span><a href="#">FAQ</a></span>
                    </li>
                    <li>
                        <span><a href="mailto:tutorfl9@gmail.com">EMail Us</a></span>
                    </li>
                    <li>
                        <span><a href="#">Privacy Policy</a></span>
                    </li>
                    <li>
                        <span><a href="#">Terms of Use</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p class="mb-0"> &copy; 2020 <a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">Instant Tutors</a>. All Right Reserved.</p>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled mb-0 d-flex">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
    padding: 60px 0 20px;
    background: #233753;
}
footer h4 {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
     font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 15px;
}
footer p {
    font-size: 13px;
    line-height: 20px;
    color: #c3d1e5;
    font-family: 'Nunito Sans', sans-serif;
}
.foot-social-icons a {
    display: block;
    width: 45px;
    height: 45px;
    background-color: #31435d;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color: #fff !important;
}
.foot-social-icons a:hover
{
	 background-color: #2c81c1;
}
.foot-social-icons {
    display: flex;
    flex-wrap: wrap;
}
.foot-social-icons li {
    margin-left: 6px;
}
.foot-social-icons li:first-child {
    margin-left: 0px;
}
.hour_ul li, h5.avail-txt {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    color: #c3d1e5;
    font-family: 'Nunito Sans', sans-serif;
}
.copyright {
    background: #233753;
}
.copyright .container {
    border-top: 1px solid #31435d;
    padding: 20px 0 20px;
}
.copyright p {
    font-size: 13px;
    line-height: 20px;
    color: #c3d1e5;
    font-family: 'Nunito Sans', sans-serif;
}
.copyright p a {
    color: #2c81c1;
    text-decoration: none;
}
.copyright ul li {
    margin-left: 35px;
}
.copyright ul li:first-child {
    margin-left: 0px;
}
.copyright ul
{
	justify-content: flex-end;
}
.copyright ul li a {
    color: #2c81c1;
}
.copyright ul li a:hover {
    color: #fff;
}
.copyright ul li a .fa {
    transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -webkit-transition: all .3s ease-out 0s;
}
.copyright ul li a .fa:hover {
    transform: translateY(-5px);
    transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -webkit-transition: all .3s ease-out 0s;
}
</style>